.main{
    display:flex;
    flex-direction: column;
}

.categories{
    padding:20px 0;
    display:flex;
    gap:10px
}
.categories button,.close{
    border:none;
    outline:none;
    border-radius: 4px;
    color:#fff
}
.createTask {
    border:none;
    outline:none;
    border-radius: 4px;
    color:#333;
    padding:7px;
    font-size: medium;
}